/* -------------- Styles for dropdown menu ---------------- */

/* General styling for Control Mode selection drop-down menu */
.controlType {
    font-size: 22px;
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: all 0.5s ease;
}

.controlType:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #e6e6e6;
}

/* drop-down menu options */
.controlType option {
    font-size: 20px;
    padding: 8px;
    background-color: #f8f8f8;
}

/* hover effect for the drop-down menu options */
.controlType option:hover {
    background-color: #e6e6e6;
}

/* General styling for the device drop-down menu */
.deviceSelection {
    font-size: 22px;
    width: auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: all 0.5s ease;
}

.deviceSelection:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #e6e6e6;
}

/* Device drop-down menu options */
.deviceSelection option {
    font-size: 20px;
    padding: 8px;
    background-color: #f8f8f8;
}

/* Hover effect for the device drop-down menu options */
.deviceSelection option:hover {
    background-color: #e6e6e6;
}

/* -------------- Styles for submit button ---------------- */

input[type='submit'] {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}

input[type='submit']:hover {
    background-color: #0056b3;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

input[type='submit']:active {
    background-color: #004085;
    box-shadow: none;
    transform: translateY(2px);
}

/* -------------- Styles for input field ---------------- */

.custom-input {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
}

.custom-input:focus {
    border-color: #a0a0a0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-input::placeholder {
    color: #999;
    font-weight: 300;
}

.price-input-wrapper {
    position: relative;
    display: inline-block;
}

.unit {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%) translateY(3px); /* Adjust the transform to better center the text */
    pointer-events: none;
    color: #999;
    font-weight: 400;
    font-size: 14px;
}

/* -------------- Styles for other text elements ---------------- */

/* Subtext under controlType */
.small-text {
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}


/* -------------- Styles for the info button, tooltip ---------------- */

.infoButton {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.desc {
    margin-left: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    visibility: hidden;
    white-space: normal;
    width: auto;
    max-width: 375px;
    z-index: 1000;
}

/* -------------- Styles for the selected hours buttons ---------------- */

.selected-hours label {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    -webkit-user-select: none;
    /* For Safari 3+ and Safari on iOS 3+ */
    user-select: none;
}

.selected-hours label:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.selected-hours input[type="checkbox"] {
    display: none;
}

.selected-hours input[type="checkbox"]:checked+span.hour-checkbox {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #4CAF50;
    /* Add this line */
}

.selected-hours label span.hour-checkbox {
    display: block;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* -------------- Styles for line chart ---------------- */

.chart-container {
    width: 100%;
    height: calc(100vh - 250px);
    position: relative;
}

#todayChart {
    width: 100%;
    height: 100%;
}
